/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header */
header {
    background-color: #ffcc99;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}

/* Content Section */
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}

.content img {
    max-width: 100%;
    border-radius: 8px;
}

.content ul {
    list-style-type: square;
    padding-left: 20px;
}

.content h2, .content h3 {
    margin-bottom: 10px;
    color: #444;
}

/* Nutrition Table */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #f0e68c;
    color: #333;
}

/* Rating Section */
.rating-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.rating-section h3 {
    margin-bottom: 15px;
}

.rating-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rating-section label {
    font-size: 1rem;
    font-weight: bold;
}

.rating-section input[type="text"],
.rating-section input[type="number"],
.rating-section textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.rating-section input[type="submit"] {
    background-color: #ff9900;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.rating-section input[type="submit"]:hover {
    background-color: #ff7700;
}

html {
  --s: 80px; /* control the size*/
  --c1: #542437;
  --c2: #c02942;
  
  --_g: 
    #0000 calc(-650%/13) calc(50%/13),var(--c1) 0 calc(100%/13),
    #0000 0 calc(150%/13),var(--c1) 0 calc(200%/13),
    #0000 0 calc(250%/13),var(--c1) 0 calc(300%/13);
  --_g0: repeating-linear-gradient( 45deg,var(--_g));
  --_g1: repeating-linear-gradient(-45deg,var(--_g));
  background:
    var(--_g0),var(--_g0) var(--s) var(--s),
    var(--_g1),var(--_g1) var(--s) var(--s) var(--c2);
  background-size: calc(2*var(--s)) calc(2*var(--s));
}